---
layout: default
title: Explore
permalink: /explore/
---
{% include header.html %}

<style media="screen">
  <style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: ;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: ;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
.form-control {

  }
}
</style>
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-12">
      <!-- Sidebar navigation -->
      <h2 data-aos="fade-up" data-aos-delay="100">Filters</h2>


<p data-aos="fade-up" data-aos-delay="100">Select the filter type:</p>
<!--
<button class="collapsible btn btn-success" id="btn_date" data-aos="fade-up" data-aos-delay="100">By Date</button>
<div class="content">
  <div class="input-group">
  <input type="text" class="form-control" id="form-control-date" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <button type="input-group-text" id="btn-date" style="width:5em;">Filter</button>
  </div>
</div>
  </div> -->
<button class="collapsible btn btn-danger" id="btn_cat" data-aos="fade-up" data-aos-delay="100">By Categories</button>
<div class="content">
  <div class="input-group">


    <div class="" data-aos="fade-left" data-aos-delay="300" data-spy="scroll" data-target=".table">
      <div class="row">

          {% assign categories_list = site.categories %}
          {% if categories_list.first[0] == null %}
          <table class="table table-hover">

            {% for category in categories_list %}
            <div class="col-12">
                <a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">
                  {{ category | camelcase }}</a>
                <span class="badge badge-primary badge-pill badge-dark pull-right" style="!important; font-weight:300;margin-left:5px;">
                  {{ site.tags[category].size }}
                </span>

              <a href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">
                {{ category | camelcase }}</a>
              <span class="badge badge-primary badge-dark pull-right" style="!important; font-weight:300;margin-left:5px;">
                {{ site.tags[category].size }}
              </span>
            </div>
            {% endfor %}
        </table>

               {% else %}
               <div class="col-12">

                 <div class="table-wrapper-scroll-y my-custom-scrollbar" data-aos="fade-left" data-aos-delay="100">

                 <table class="table table-border">

                   {% for category in categories_list %}
                   {{category[0].index}}
                   <tr >
                     <td>
                       <a href="{{ site.url}}/hypergraph-repository.github.io/explore#filter={{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">
                   {{ category[0] | camelcase }}
                       </a>
                     </td>
                     <td>
                       <input type="checkbox" value="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}" name="filter-datatable">

                       </td>
                     </tr>
                     {% endfor %}
                   {% endif %}
                 {% assign categories_list = nil %}
                   </table>
                   </div>
               </div>
    
      </div>

    </div>






</div></div>
<!--Other fileter with text box -->
<!--
<button class="collapsible btn btn-warning" id="btn_size" data-aos="fade-up" data-aos-delay="100">By Size</button>
<div class="content">
  <div class="input-group">
  <input type="text" class="form-control" id="form-control-size">
  <div class="input-group-append">
    <button type="input-group-text" id="btn-size2" style="width:5em;">Filter</button>
  </div>
</div></div>

<button class="collapsible btn btn-dark" id="btn_vertex" data-aos="fade-up" data-aos-delay="100">By Vertex</button>
<div class="content">
  <div class="input-group">
  <input type="text" class="form-control" id="form-control-vertex" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <button type="input-group-text" id="btn-vertex" style="width:5em;">Filter</button>
  </div>
</div></div>
<button class="collapsible btn btn-primary" id="btn_edges" data-aos="fade-up" data-aos-delay="100">By Edges</button>
<div class="content">
  <div class="input-group">
  <input type="text" class="form-control" id="form-control-edges" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <button type="input-group-text" id="btn-edges" style="width:5em;">Filter</button>
  </div>
</div></div> -->

    </div>
    <div class="col-md-10 col-lg-10 col-sm-12">

      <div class="content-post">

          <div class=" margin" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">

          <table id="table_id" style=" font-size: 14px;" class="table">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Title</th>
                      <th>Categories</th>
                      <th>|V|</th>
                      <th>|E|</th>
                      <th>Size (MB)</th>
                      <th>Vertex Type</th>
                      <th>Edge Type</th>
                      <th>Share</th>
                      <th>View</th>

                  </tr>
              </thead>
              <tbody>
                  {% for post in site.posts %}
                  <tr>
                      <td>{{ post.date }}</td>
                      <td>{{ post.title }}</td>
                      <td><div style="width:10px;">{{ post.categories }}</div></td>
                      <td>{{ post.v }}</td>
                      <td>{{ post.e }}</td>
                      <td>{{ post.size }}</td>
                      <td>{{ post.vertex-type }}</td>
                      <td>{{ post.edge-type }}</td>
                      <td><a href="https://hypergraph-repository.github.io/{{ post.page }}">  <span class="feather-icon icon-share-2" style="color:blue;"></span> </a></td>
                      <td><a href="https://hypergraph-repository.github.io/{{ post.page }}">  <span class="feather-icon icon-eye" style="color:blue;"></span> </a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>

          <script>

              $(document).ready( function() {
                  var filter_date = $("#form-control-date");
                  var filter_cat = $("#form-control-cat");
                  var filter_size = $("#form-control-size");
                  var filter_vertex = $("#form-control-vertex");
                  var filter_edges = $("#form-control-edges");
                //date
                $("#btn-date").click(function(){
                  console.log(filter_date[0].value);
                  $('#table_id').dataTable({
                    responsive: true,
                    destroy:true,
                    "aoSearchCols": [   { "sSearch": filter_date[0].value },
                                      null,
                                      null,
                                      null
                                      ]
                  });
                  });



                  // category
                  $("#btn-cat").click(function(){
                    console.log(filter_cat[0].value);
                    $('#table_id').dataTable({
                      reponsive: true,
                      destroy:true,
                      "aoSearchCols": [ null,
                                        null,
                                        { "sSearch": filter_cat[0].value },
                                        null
                                        ]
                    });
                    });





                    //Size
                    var arrCheckbox =[];
                  $('input[name="filter-datatable"]').on("change",function(){
                      //console.log(filter_size[0].value);
                      $('input[name="filter-datatable"]:checked').each(function() {
                          arrCheckbox.push(this.value);
                        });
                        console.log(arrCheckbox);
                        var items = "";
                        for(var i=0;i<=arrCheckbox.length-1;i++){

                           if(i == arrCheckbox.length-1)
                           {
                             items+= arrCheckbox[i]
                           }
                           else{
                             items += arrCheckbox[i]+"|"
                           }
                        }
                        console.log(items);
                      $('#table_id').DataTable({
                        destroy: true,
                        "iDisplayLength": 100,
                         "search": {regex: true}
                       }).column(2).search(items, true, false ).draw();
                       items = "";
                       arrCheckbox = [];

//                      $('#table_id').dataTable({
//                      responsive: true,
//                      destroy:true,
//                      "aoSearchCols": [ null,
//                                        null,
//                                          null,
//                                        null,
//                                          null,
//                                          { "sSearch": filter_size[0].value },
//                                          null
//                                       ]
//                      });
                      });



                      //Vertex
                      $("#btn-vertex").click(function(){
                        console.log(filter_vertex[0].value);
                        $('#table_id').dataTable({
                          responsive: true,
                          destroy:true,
                          "aoSearchCols": [ null,
                                            null,
                                            null,
                                            { "sSearch": filter_vertex[0].value },
                                            null
                                            ]
                        });
                        });

                        //Edges
                        $("#btn-edges").click(function(){
                          console.log(filter_edges[0].value);
                          $('#table_id').dataTable({
                            responsive: true,
                            destroy:true,
                            "aoSearchCols": [ null,
                                              null,
                                              null,
                                              null,
                                              { "sSearch": filter_edges[0].value },
                                              null
                                              ]
                          });
                          });
              var searchHash = location.hash.substr(1),
              searchString = searchHash.substr(searchHash.indexOf('filter='))
		                  .split('&')[0]
		                  .split('=')[1];
                      $('#table_id').dataTable( {
                        responsive: true,
                                      "aoSearchCols": [ null,
                                                        null,
                                                        { "sSearch": searchString },
                                                        null
                                                        ]
         } );
                } )

          </script>



        </div>

      </div>
    </div>

  </div>

</div>
<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
