---
layout: default
---
<div class="bg-header">
  {% include header.html %}
</div>

<div class="content-post">
 
  <div class="size margin">
    <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Category</th>
                <th>Source</th>
                <th>Type</th>
                <th>|V|</th>
                <th>|HE|</th>
                <th>Size</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>  
            {% for post in site.posts %}
            <tr>
                <td>{{ post.date }}</td>
                <td>{{ post.categories }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.by }}</td>
                <td>{{ post.by }}</td>
                <td>{{ post.by }}</td>
                <td>{{ post.by }}</td>
                <td>{{ post.by }}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
    <script>
      $(document).ready(function() {
        $('#table_id').DataTable();
    } );
    </script>
    
        <h2 class="list-post-title">
            Latest Hypergraphs:
        </h2>
        {% include posts.html %}
    </div>

  </div>

</div>
