

<!-- Footer -->


    <footer class="container-fluid pt-4 cyan" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
      <div class="row align-items-center justify-content-center">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-left" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
        <img class="img-responsive" src="{{site.url}}/hypergraph-repository.github.io/assets/img/unisa_logo.png" alt="unisa" style="width:5em;">
      </div>
      <!-- Copyright -->
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="footer-copyright text-center py-3">© 2019
          <a href="{{ site.baseurl }}/"><span>{{ site.title }}</span> </a>
          </div>
        </div>
      <!-- Copyright -->
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="100" data-aos-offset="0">
        <img class="img-responsive pull-right img-circle" src="{{site.url}}/hypergraph-repository.github.io/assets/img/isislab_logo.png" alt="isislab" style="width:5em">
      </div>
    </div>
    </footer>


  <!-- Footer -->
