<!--Starting list group here -->

<!-- Jumbotron -->
 <div class="jumbotron card card-image style="background-color:black;" >

     <div class="row">
       <div class="col-sm-4 col-md-6 col-xs-12 col-lg-4">
         <!--Starting list group here -->
           <div class="list-group">
             <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
               <a href="asn.php">
                 <i class="fa fa fa-brain icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;Neural Networks</a>
               <span class="badge badge-primary badge-pill badge-danger pull-right" style="background-color:hsl(170,80%,40%) !important; font-weight:300;">200</span>
             </li>

             <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
               <a href="asn.php">
                 <i class="fa fa fa-user icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;Interactive Network</a>
               <span class="badge badge-primary badge-pill badge-success pull-right" style="!important; font-weight:300;">186</span>
             </li>

             <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
               <a href="asn.php">
                 <i class="fa fa fa-envelope icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;labeled Networks</a>
               <span class="badge badge-primary badge-pill badge-dark pull-right" style="!important; font-weight:300;">541</span>
             </li>

             <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
               <a href="asn.php">
                 <i class="fa fa fa-plane icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;Power Networks</a>
               <span class="badge badge-primary badge-pill badge-warning pull-right" style="!important; font-weight:300;">121</span>
             </li>

             <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
               <a href="asn.php">
                 <i class="fa fa fa-bolt icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;Generated Networks</a>
               <span class="badge badge-primary badge-pill badge-light pull-right" style="!important; font-weight:300;">04</span>
             </li>
       <!--Ends here List Group-->
 </div>
</div>
<div class="col-sm-4 col-md-6 col-xs-12 col-lg-4">
 <!--Starting list group here -->
   <div class="list-group">
     <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
       <a href="asn.php">
         <i class="fa fa fa-shopping-cart icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;Animal Social Networks</a>
       <span class="badge badge-primary badge-pill badge-primary pull-right" style="background-color:hsl(170,80%,40%) !important; font-weight:300;">47</span>
     </li>

     <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
       <a href="http://localhost:4000/hypergraph-repository.github.io/karate-network/">
         <i class="fab fa-accessible-icon"></i>&nbsp;Karate Network</a>
       <span class="badge badge-primary badge-pill badge-secondary pull-right" style="!important; font-weight:300;">25</span>
     </li>

     <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
       <a href="asn.php">
       <i class="fas fa-leaf"></i>&nbsp;Ecology Networks</a>
       <span class="badge badge-primary badge-pill badge-success pull-right" style="!important; font-weight:300;">72</span>
     </li>

     <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="cmargin:4px;ursor: pointer;">
       <a href="asn.php">
       <i class="fab fa-facebook"></i>&nbsp;Social Networks</a>
       <span class="badge badge-primary badge-pill badge-danger pull-right" style="!important; font-weight:300;">7857</span>
     </li>

     <li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
       <a href="asn.php">
         <i class="far fa-chart-bar"></i>&nbsp;Citation Networks</a>
       <span class="badge badge-primary badge-pill badge-warning pull-right" style="!important; font-weight:300;">45</span>
     </li>
<!--Ends here List Group-->
</div>
</div>
<div class="col-sm-4 col-md-6 col-xs-12 col-lg-4">
<!--Starting list group here -->
<div class="list-group">
<li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
 <a href="asn.php">
 <i class="fab fa-twitter"></i>&nbsp;Retweet Networks</a>
 <span class="badge badge-primary badge-pill badge-info pull-right" style="background-color:hsl(170,80%,40%) !important; font-weight:300;">42</span>
</li>

<li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
 <a href="asn.php">
 <i class="fas fa-road"></i>&nbsp;Road Network</a>
 <span class="badge badge-primary badge-pill badge-light pull-right" style="!important; font-weight:300;">57</span>
</li>

<li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
 <a href="asn.php">
   <i class="fas fa-memory"></i>&nbsp;Technology Networks</a>
 <span class="badge badge-primary badge-pill badge-dark pull-right" style="!important; font-weight:300;">757</span>
</li>

<li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
 <a href="asn.php">
 <i class="fas fa-database"></i>&nbsp;Non-Relational Data Networks</a>
 <span class="badge badge-primary badge-pill badge-success pull-right" style="!important; font-weight:300;">234</span>
</li>

<li data-toggle="collapse" data-parent="#accordion-data-index" class="accordion-toggle" onclick="location.href='asn.php'" href="#asn-index" style="margin:4px;cursor: pointer;">
 <a href="asn.php">
   <i class="fa fa fa-bug icon-large fa-lg" style="font-size:1.0em; margin-top:0px; padding-bottom:2px; width:24px;"></i>&nbsp;Scientific Computation</a>
 <span class="badge badge-primary badge-pill badge-warning pull-right" style="!important; font-weight:300;">785</span>
</li>
<!--Ends here List Group-->
</div>
</div>
</div>

 </div>
 <!-- Jumbotron -->
