<!--<header>

  <div class="header container align-items-center justify-content-center">
    <div class="header--block size margin container column">
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        Welcome to the  {{ site.title }} Project
      </div>
      <div class="container column position-search">
        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">
          <div class="header--block--input--icon">
             <img src="{{ site.baseurl }}/assets/img/icons/search-input.svg" width="30" alt="">
            <span class="feather-icon icon-search"></span>
          </div>
          <input class="input-search" type="text" name="" value="" placeholder="Search for hypergraph..." id="search-input">
        </div>
        <div class="header--block--result">
          <ul id="results-container"></ul>
        </div>
      </div>
    </div>
  </div>
</header>
-->

<header>

  <!-- Jumbotron -->
   <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);width:100%">
     <div class="text-white text-center rgba-stylish-strong py-5 px-5" >
       <div class="py-6">

         <!-- Content -->
         <!--<h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Category</h5>-->
          <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">

{% if page.title == "Explore"%}
    <h2 class="card-title h2 my-4 py-2">Explore Hypergraphs</h2>
{% else %}
    <h2 class="card-title h2 my-4 py-2">Welcome to Hypergraph Repository</h2>
    <p class="mb-4 pb-2 px-md-5 mx-md-5">A simple hypergraphs package for the Julia programming language.</p>
{% endif %}

         <!--<a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>-->
      {% if page.title == "Explore"%}
          <button type="button" class="btn peach-gradient"  onclick="location.href='explore'" style="vertical-align:middle" hidden><span>Explore </span> </button>
      {% else %}
          <button type="button" class="btn peach-gradient"  onclick="location.href='explore'" style="vertical-align:middle"><span>Explore </span> </button>
      {% endif %}

        </div>
       </div>
     </div>
   </div>
   <!-- Jumbotron -->

</header>
