<!--<header>

  <div class="header container align-items-center justify-content-center">
    <div class="header--block size margin container column">
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        Welcome to the  {{ site.title }} Project
      </div>
      <div class="container column position-search">
        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">
          <div class="header--block--input--icon">
             <img src="{{ site.baseurl }}/assets/img/icons/search-input.svg" width="30" alt="">
            <span class="feather-icon icon-search"></span>
          </div>
          <input class="input-search" type="text" name="" value="" placeholder="Search for hypergraph..." id="search-input">
        </div>
        <div class="header--block--result">
          <ul id="results-container"></ul>
        </div>
      </div>
    </div>
  </div>
</header>
-->

<header style="padding-top:1em;">

  <div class="jumbotron card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);background-size:cover;">
    <div class="text-white text-center py-5 px-4">
      <div data-aos="fade-left">
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold text-white"><strong>{{page.title}}</strong></h2>
        <p class="mx-5 mb-5">{{ page.subtitle}}</p>
        {% if page.title == "Explore"%}
            <button type="button" class="btn btn-outline-white btn-md"  onclick="location.href='explore'" style="vertical-align:middle" hidden><span>Explore </span> </button>
        {% else %}
            <button type="button" class="btn btn-outline-white btn-md"  onclick="location.href='explore'" style="vertical-align:middle"><span>Explore </span> </button>
        {% endif %}
      </div>
    </div>
  </div>


</header>
