<div class="menu">
  <div class="size margin menu--content container align-items-center justify-content-between">

    <div class="" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <a href="{{ site.baseurl }}/"><span>{{ site.title }}</span> </a>
    </div>

    <a href="https://hypergraph-repository.github.io/explore" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-folder"></span>
        </div>
        <div class="back-to-site-text">
          Explore
        </div>
      </div>
    </a>

    <a href="https://hypergraph-repository.github.io/hypergraphs" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-globe"></span>
        </div>
        <div class="back-to-site-text">
          What is an Hypergraph?
        </div>
      </div>
    </a>

    <a href="https://hypergraph-repository.github.io/about" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-info"></span>
        </div>
        <div class="back-to-site-text">
          About
        </div>
      </div>
    </a>

    <a href="https://github.com/pszufe/SimpleHypergraphs.jl" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-external-link"></span>
        </div>
        <div class="back-to-site-text">
            SimpleHypergraphs.jl
        </div>
      </div>
    </a>
    <!-- <nav class="masthead-nav">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
      {% endif %}
      {% endfor %}
    </nav> -->
  </div>
</div>
