<!-- <div class="navbar navbar-expand-lg navbar-light ">
  <div class="size margin menu--content container align-items-center justify-content-between">

    <div class="" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <a href="{{ site.baseurl }}/"><span>{{ site.title }}</span> </a>
    </div>

    <a href="https://hypergraph-repository.github.io/explore" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-folder"></span>
        </div>
        <div class="back-to-site-text">
          Explore
        </div>
      </div>
    </a>

    <a href="https://hypergraph-repository.github.io/hypergraphs" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-globe"></span>
        </div>
        <div class="back-to-site-text">
          What is an Hypergraph?
        </div>
      </div>
    </a>

    <a href="https://hypergraph-repository.github.io/about" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-info"></span>
        </div>
        <div class="back-to-site-text">
          About
        </div>
      </div>
    </a>


<!--
    <a href="https://github.com/pszufe/SimpleHypergraphs.jl" data-aos="fade-left" data-aos-delay="" data-aos-offset="0">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-external-link"></span>
        </div>
        <div class="back-to-site-text">
            SimpleHypergraphs.jl
        </div>
      </div>
    </a>
<!--

<form class="form-inline md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
</form>
-->
    <!-- <nav class="masthead-nav">
      {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        {{ page.title }}
      </a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>

-->

<style media="screen">

    .searchbar{
     margin-bottom: auto;
     margin-top: auto;
     height: 60px;
     background-color: rgb(32,150,243);
     border-radius: 30px;
     padding: 10px;
     }

     .search_input{
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;
     line-height: 40px;
     transition: width 0.4s linear;
     }

     .searchbar:hover > .search_input{
     padding: 0 10px;
     width: 250px;
     caret-color: white;
     transition: width 0.4s linear;
     color: white;
     }

     .searchbar:hover > .search_icon{
     background: white;
     color: black;
     }

     .search_icon{
     height: 40px;
     width: 40px;
     float: right;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     color:white;
     }

</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
  <a class="navbar-brand" href="{{site.url}}/hypergraph-repository.github.io/">Hypergraph Repository</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{site.url}}/hypergraph-repository.github.io/explore">Explore</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href=" {{site.url}}/hypergraph-repository.github.io/hypergraphs">What is Hypergraphs?</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/pszufe/SimpleHypergraphs.jl">Simplegraphs.jl</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-lg-0">
      <div class="container h-50">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search for hypergraphs here..." style="color:white;">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
            <div class="header--block--result">
              <ul id="results-container"></ul>
            </div>
          </div>
    </form> -->
  </div>
</nav>
