<div class="card-deck">
  {% if site.posts.size == 0 %}
  <h2>No post found</h2>
  {% else %}

  {% for post in site.posts %}
  {% if forloop.rindex <= 4 %}
   <!-- <a href="{{ site.baseurl }}{{ post.url }}" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">

<!-- Tanveer layout code -->
  <!--    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <h3>{{ post.title }}</h3>

          </div>
          <div class="col-lg-9">
            <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
              <span class="list-post-description">{{ post.description | truncatewords : 50 }}</span>
            </div>

            <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
              <small><time>{{ post.date | date_to_string }}</time></small>
            </div>
          </div>
        </div>

      </div>
  </div> -->

<!--Card Deck Layout for latest hypergraphs -->

  <!-- Card -->
  <div class="card mb-4" data-aos="fade-left">
<!--Card content-->
    <div class="card-body" data-aod="fade-left">
      <!--Title-->
      <a href="{{site.baseurl}}{{post.url}}">
      <h4 class="card-title" data-aos="fade-left" data-aos-delay="100">{{ post.title}}</h4>
      <!--Text-->
      <p class="card-text" data-aos="fade-left" data-aos-delay="300">{{ post.description | truncatewords: 50 }}</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      </a>
    </div>
  </div>
  <!-- Card -->

<!--Card Deck Layout for latest hypergraphs -->

  <!-- Carmine Layout-->
<!-- <div class="jumbotron pt-3" data-aos="fade-up">
  <div class="flex-grow-1">
     <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
       <h2 class="list-post-title">
       {{ post.title }}
       </h2>
     </div>

     <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
       <span class="list-post-description">{{ post.description | truncatewords: 50 }}</span>
     </div>

     <div class="list-post-written" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
       <small><time>{{ post.date | date_to_string }}</time></small>
     </div>
   </div>
  </div>

  </a> -->

<!-- Carmine Layout-->



      {% endif %}
    {% endfor %}
   {% endif %}
</div>
