---
layout: default
---
<style media="screen">
  .w3-container{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header >h3 {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  header > h3:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  header > h3:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
</style>

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  {% include breadcrumbs.html path=page.path title=page.title %}
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">{{ page.title }}</h1>
    <div class="post-date" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <time>{{ page.date | date_to_string }}</time>

    </div>

<div class="container">
    <div class="row" data-aos="zoom-in" style="margin-top:20px;">
      <div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);width:100%">
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Karate Network</strong></h2>
          <p class="mx-5 mb-5">Here you can find visualize details of all the data for karate network.
          </p>
          <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Dataset files</a>
        </div>
      </div>
    </div>
    <!-- Start of Cell-->
    <div class="col-xs-12
                    col-sm-8
                    col-md-6
                    col-lg-6">
            <div class="box">
              <div class="w3-container" style="width:100%;margin-top:0px;">
                  <div class="w3-card-4" style="border-radius: 20px 0 20px 0;">
                    <header class="w3-container w3-blue w3-padding-small " style="border-radius:20px 0 20px 0;">
                      <h3 class="w3-text-white" style="margin-left:15px;">Description</h3>
                    </header>
                    <div class="w3-container">
                      <p>   {{ page.description }}  </div>
                    <footer class="w3-container w3-blue w3-padding-small" style="border-radius: 0 0 0px 0px;">

                        <h6> <span class="feather-icon icon-link w3-text-white" style="margin-left: 20px;"></span>
                          <a class="w3-text-white" href="http://bo.com/karate.hgf">http://bo.com/karate.hgf</a>
                        </h6>
                    </footer>
                </div>
              </div>

            </div>
        <!-- end of cell-->
        </div>


        <!-- Start of Cell-->
        <div class="col-xs-12
            col-sm-8
            col-md-6
            col-lg-6">
          <div class="box" >
          <div class="w3-container" style="width:100%; margin-top:20px;">
              <div class="w3-card-4" style="border-radius: 20px 0px 20px 0px;">
                <header class="w3-container w3-blue w3-padding-small " style="border-radius: 20px 0px 20px 0;">
                  <h3 class="w3-text-white" style="margin-left:10px;">Hypergraph Details</h3>
                </header>
                <div class="w3-container">
                  <table>
                    <tr><td>Categories: </td><td>{{ page.categories}}</td></tr>
                    <tr><td>Size: </td><td>{{ page.size}}</td></tr>
                    <tr><td>Vertex Type: </td><td>{{ page.vertex-type}}</td></tr>
                    <tr><td>Edge Type: </td><td>{{ page.edge-type}}</td></tr>
                    <tr><td>Vertex Meta: </td><td>{{ page.vertex-meta}}</td></tr>
                    <tr><td>Edge Meta: </td><td>{{ page.edge-meta}}</td></tr>
                    <tr><td>|V|: </td><td>{{ page.v}}</td></tr>
                    <tr><td>|E|:  </td><td>{{ page.e}}</td></tr>
                    <tr><td>Max Degree: </td><td>{{ page.max-degree}}</td></tr>
                    <tr><td>Max Edge Size: </td><td>{{ page.max-e-size}}</td></tr>
                    <tr><td>Modularity: </td><td>{{ page.modularity}}</td></tr>
                  </table>
                </div>

            </div>
          </div>
          </div>
        </div>
        <!-- end of cell-->

        <!-- Start of Cell-->
        <div class="col-xs-12
              col-sm-8
              col-md-6
              col-lg-6">
            <div class="box" >
            <div class="w3-container" style="width:100%;  margin-top:20px;">
                <div class="w3-card-4" style="border-radius: 0px 0px 0px 0px;">
                  <header class="w3-container w3-blue w3-padding-small " style="border-radius: 0px 0px 0 0;">
                    <h3 class="w3-text-white" style="margin-left:10px;">2-Section Graph Details</h3>
                  </header>
                  <div class="w3-container">
                    <table>
                      <tr><td>|E|: </td><td>{{ page.two-e}}</td></tr>
                      <tr><td>LCC: </td><td>{{ page.two-lcc}}</td></tr>
                      <tr><td>Density: </td><td>{{ page.two-density}}</td></tr>
                      <tr><td>Number of triangles: </td><td>{{ page.two-triangle}}</td></tr>
                      <tr><td>Min degree: </td><td>{{ page.two-min-degree}}</td></tr>
                      <tr><td>Max degree: </td><td>{{ page.two-max-degree}}</td></tr>
                      <tr><td>Avg degree: </td><td>{{ page.two-avg-degree}}</td></tr>
                      <tr><td>Power law exp.:  </td><td>{{ page.two-power-law-exp}}</td></tr>
                      <tr><td>Diameter: </td><td>{{ page.two-diameter}}</td></tr>
                      <tr><td>CC: </td><td>{{ page.two-cc}}</td></tr>
                      <tr><td>Modularity: </td><td>{{ page.modularity}}</td></tr>
                    </table>
                  </div>

              </div>
            </div>
            </div>
          </div>

          <div class="col-xs-12
              col-sm-8
              col-md-6
              col-lg-6">
            <div class="box" >
            <div class="w3-container" style="width:100%;  margin-top:20px;">
                <div class="w3-card-4">
                  <header class="w3-container w3-blue w3-padding-small ">
                    <h3 class="w3-text-white">Hypergraph Degree Distribution</h3>
                  </header>
                  <div class="w3-container">
                    <div class="ct-chart" id="chart_degree_distribution" style=" width: 100%; height:300px;"></div>
                  </div>

              </div>
            </div>
            </div>
          </div>
<!-- end of cell-->

<!-- Start of Cell-->

          <div class="col-xs-12
              col-sm-8
              col-md-6
              col-lg-6">
            <div class="box" >
            <div class="w3-container" style="width:100%;  margin-top:20px;">
                <div class="w3-card-4" style="border-radius:20px 20px 0 0">
                  <div class="col-med-6">
                  <div class="card text-dark bg-light" style="border-radius:20px 20px 0 0">
                  <div class="card-header bg-dark text-center text-light" style="border-radius:20px 20px 0 0"><h4>DUMP</h4></div>
                  <div class="card-body ">
                  <h5 class="card-title">Category</h5>

                    <!--Starting list group here -->

                        <div class="list-group">
                          <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-primary">Dump 1
                          <span class="badge badge-primary badge-pill">55</span>
                          </a>

                          <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-danger">Dump 2
                          <span class="badge badge-primary badge-pill">23</span>
                          </a>

                          <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-success">Dump 3
                            <span class="badge badge-primary badge-pill">109</span>
                          </a>

                          <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-info">Dump 4
                          <span class="badge badge-primary badge-pill">10</span>
                          </a>

                          <a href="#" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-secondary disabled">Dump 5
                          <span class="badge badge-primary badge-pill">0</span>
                          </a>
                        </div>
                      <!--Ends here -->
                  </div>
                  <div class="card-footer bg-secondary border-danger text-right">
                  <a href="#" class="btn btn-info btn-sm">btn</a> <a href="#" class="btn btn-success btn-sm">btn</a>
                  </div>
                  </div>
                  </div>

              </div>
            </div>
            </div>
          </div>

<!-- end of cell-->

<!-- Start of Cell-->
    <div class="col-sm-6">
      <div class="jumbotron">
        <div class="card">
          <header>header</header>
          <div>content</div>
          <footer> footer</footer>
        </div>
      </div>
    </div>
<!-- end of cell-->
</div>
</div>
  </div>
  </div>


  </div>
    {{ content }}


    <script>
      var data = {
        labels: [1, 2, 3, 4, 5, 6, 7, 8],
        series: [
          [5, 9, 7, 8, 5, 3, 5, 4]
        ]
      }



      new Chartist.Line('#chart_degree_distribution', data, {
        low: 0,
        showArea: true
      });
      </script>

    <!-- content -->
  </article>
</div>
